[Unit]
Description=Run UDM daily scripts at 3:00am
After=unifi.service unifi-core.service
[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=false
RandomizedDelaySec=300
[Install]
WantedBy=timers.target
